<html>
    <head>
        <title>Status</title>
        <link href="{{ url_for('static', path='/styles/qr.css') }}" rel="stylesheet">
    </head>

    <body>
        {% if status == "success" %}
            <div class="heading">
                <img src="{{ url_for('static', path='/images/Tick.gif') }}" style="width: 15%; margin: auto;"/>
                <h1 class="success">You've been successfully authenticated</h1>
            </div>
        {% else %}
            <div class="heading">
                <img src="{{ url_for('static', path='/images/Cross.gif') }}" style="width: 10%; margin: auto;"/>
                <h1 class="failure">Authentication failed! {{ recvarg }}, {{ queryarg }}</h1>
            </div>
        {% endif %}
    </body>
</html>