body {
    background-image: url("../images/bg-01.jpg");
    background-size: cover;
}

.container {
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 6%;
    box-shadow: 0 0 35px yellow;
}

.logo {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 10px;
}

.login_form {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    padding-bottom: 20px;
}

input,
label {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}

label {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5% !important;
}

input {
    border-radius: 8px;
    height: 7%;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

.log_butt {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    border-radius: 8px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    background-color: bisque;
}

.log_butt:hover {
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.signup {
    width: 30%;
    margin-left: 42%;
    margin-right: 35%;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}